.heading {
  width: 100%;
  background-color: #653fb1;
  padding: 12px 0 12px 20px;
  color: #fff;
}


th {
  background-color: #f7f7f7;
  color: #91979d;
  padding: 0 16px 0 16px;
}

.heading {
  color: #234f80;
  font-weight: bold;
  padding: 12px 0 12px 20px;
  font-size: 1.1rem;
}

.table-container {
  padding: 20px;
}

table {
  width: 100%;
}

.assessment-table tr th {
  font-weight: inherit;
}

.viewLink {
  text-decoration: underline;
  color: #BD267D;
  cursor: pointer;
}


.reset {
  border: navajowhite;
  background: none;
  text-decoration: underline;
  color: #fbfafa;
  right: 100px;
}

.save {
  border-radius: 4px solid #f4f5f7;
  background-color: #234f80;
  color: #fbfafa;
  border-radius: 4px;
  padding: 0.2em 3em;
  border: outline;
  right: 125px;
}

.submit {
  border-radius: 4px solid #ede9ee;
  background-color: #f6f1f7;
  color: #234f80;
  border-radius: 4px;
  padding: 12px 3px;
  width:62px;
  height:20px;
  text-align: center;
}
