.questionHeader {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.text-small {
  font-size: 17px;
}

.questionAlignment {
  text-indent: -25px;
  position: relative;
  left: 25px;
  width: 98%;
}

.infoTooltip {
  /* float: right; */
  margin-top: 2px;
  margin-left: 25px;
}
