/* .table-container {
  padding: 20px;
  width: 1100px;
  overflow: auto;
} */

.nav-container {
  /* display: flex; */
  /* justify-content: space-between; */
}

::ng-deep .status-col .mat-sort-header-container {
  justify-content: center;
}
