.body {
  margin: 0;
  padding: 0;
}
.card {
  margin-left: 23px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.head {
  font-size: 30px;
  font-family: ui-monospace;
}
.labelheding {
  text-align: start;
  text-align: initial;
  font-family: "Regular";
}
.s1 {
  margin: 30px;
  width: 90%;
}

.validField {
  border: 2px solid green;
  display: block;
  border-radius: 5px;
}
.invalidField {
  border: 2px solid red;
  display: block;
  border-radius: 5px;
}
.savebutton {
  margin: 5px;
  width: 111px;
  font-family: Medium;
}
.resetbutton {
  margin: 5px;
  width: 111px;
  font-family: Medium;
}

.successsms {
  margin-top: 20px;
  font-size: 17px;
}
.buttonscore {
  float: inline-end;
  font-family: Medium;
}

.head {
  font-size: 30px;
  font-family: ui-monospace;
}
.labelheding {
  text-align: start;
  text-align: initial;
}
.s1 {
  margin: 30px;
}

.validField {
  border: 2px solid green;
  display: block;
  border-radius: 5px;
}
.invalidField {
  border: 2px solid red;
  display: block;
  border-radius: 5px;
}
.savebutton {
  margin: 5px;
  width: 111px;
}
.resetbutton {
  margin: 5px;
  width: 111px;
}

.successsms {
  margin-top: 20px;
  font-size: 17px;
}
.buttonscore {
  margin-top: 25px;
  float: inline-end;
}
.tool {
  color: #91979d;
  font-size: 20px;
  float: inline-start;
}
placeholder {
  font-family: Regular;
}
.addlink {
  color: #bd267d;
  font-family: "SemiBold";
  box-shadow: 0px 3px 26px #00000017;
}
.example-button {
  margin-top: 16px;
}

.example-tooltip-uppercase {
  text-transform: uppercase;
}

/* //preview css */

.previewTemplateheader {
  color: #234f80;
  font-weight: 500;
  padding: 12px 0 12px 20px;
  font-size: 1rem;
}

.previewTemplateheader span {
  cursor: pointer;
}

.previewTemplateContent {
  width: 100%;
}

.previewTemplateFooter {
  /*   background: #234f80 0% 0% no-repeat padding-box; */
  display: flex;
  padding: 8px 0px 8px 0px;
  justify-content: right;
  margin-bottom: 9px;
}

.previewTemplateFooter button {
  text-align: center;
  align-items: center;
  background-color: #bd267d;
  font-family: Medium;
  padding: 8px 26px;
  width: inherit;
  font-size: 12px;
}
label {
  display: inline-block;
}
.hedtab {
  text-align: left;
  letter-spacing: 0px;
  color: #31374a;
  opacity: 1;
  font-family: "InterBold";
}
.titledata {
  margin-top: 22px;
  margin-left: 9px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
}

.tbl-heading {
  font-size: 14px;
  font-weight: 500;
}

.tbl-subheading {
  font-size: 12px;
}
.error-border {
  border: 1px solid #ec1313 !important;
  border-radius: 4px !important;
}

.error-border .multiselect-dropdown {
  border: 1px solid red !important;
  border-radius: 4px !important;
}

[data-type="horizontal"] .form-check {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
}
.horizontal {
  display: inline-block;
  margin-right: 13px; /* Adjust as needed */
}

.form-check-input:checked {
  background-color: #234f80 !important;
  border-color: #0d6efd !important;
}
