<!-- <h2 class="questionHeader">
  {{ questionIndex }} {{ questionDetails.question }}
</h2> -->

<div class="fw-medium mb-2 questionAlignment">
  <span style="color: #91979d">
    {{ questionIndex }}
  </span>
  <span style="font-family: Semibold">
    {{ questionDetails.question }}
  </span>

  <span *ngIf="questionDetails.questionDescription || ''" class="infoTooltip">
    <i
      matTooltip="{{ questionDetails.questionDescription }}"
      matTooltipPosition="right"
    >
      <i
        class="fa fa-exclamation-circle tool"
        style="padding: 0; margin: 0"
      ></i>
    </i>
  </span>
  <div *ngIf="questionDetails.questionSubText"
        class="d-flex flex-row subtext ps-4 pb-2"
        >
        {{ questionDetails.questionSubText }}
  </div>
</div>

<mat-radio-group aria-label="Select an option" class="metric-radio">
  <mat-radio-button
    [color]="color"
    aria-label="Select an option"
    *ngFor="let obj of questionDetails.answerData"
    [value]="obj.value"
    [disabled]="disableQuestion"
    [checked]="
      obj.value ===
      (!!questionDetails.answerValue && questionDetails.answerValue[0])
    "
    (change)="radioChange($event, questionDetails)"
    >{{ obj.lable }}</mat-radio-button
  >
</mat-radio-group>
